@font-face {
  font-family: Roboto-Medium;
  src: url(./assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(./assets/fonts/Roboto-Light.ttf);
}
:root {
  --primary--color: #6c5ce7;
  --secondary--color: #a29bfe;
  --light--gray: #dfe6e9;
  --dark--gray: #767a7c;
}
* {
  font-family: Roboto-Light;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: default;
  user-select: none;
}
.cursor--pointer {
  cursor: pointer;
}
.cursor--text {
  cursor: text;
}
main {
  height: auto;
  margin: 1rem;
  padding: 1rem;
}
/* form--section */
.form--section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
